/* 👉 1️⃣ Import Typekit Fave */
@import url('https://use.typekit.net/cul8dnn.css');

/* 👉 2️⃣ Import Tailwind v4 gọn */
@import "tailwindcss";

@theme {
  --font-fave: 'fave-script-pro', sans-serif;
  --font-gothic: 'trade-gothic-next-compressed', sans-serif;
  --font-omnes: 'omnes-pro', sans-serif;
  --color-primary: #DA6027;
  --color-second: #1C8295;
  --color-head: #7ACAB9;
  --color-keyBlue:#1C8295;
  --color-keySecond:#007C96;
  --color-keythr:#1C829599;
  --color-ink:#1E1E1E

}

/* 👉 4️⃣ Cấu hình khác giữ nguyên */
@media (prefers-color-scheme: dark) {
  :root {
    --columns: 24;
  }
}

body {
  background-image: repeating-linear-gradient(to right,
      var(--stripe-color-1),
      var(--stripe-color-1) calc(100% / var(--columns)),
      var(--stripe-color-2) calc(100% / var(--columns)),
      var(--stripe-color-2) calc(200% / var(--columns)));
  color: var(--foreground);

}